    <div class="dashboard-card">
      <div class="card-header">
        <h3>Resources by Account</h3>
        <span class="total-count">{{ totalResources }} resources</span>
      </div>
      
      <div class="distribution-list">
        <div *ngFor="let account of accountDistribution" 
             class="distribution-item">
          <div class="item-info">
            <span class="item-name">{{ account.accountName }}</span>
            <span class="item-count">{{ account.count }}</span>
          </div>
          <div class="progress-bar-container">
            <div class="progress-bar" 
                 [style.width.%]="account.percentage"
                 [attr.data-percentage]="account.percentage + '%'">
            </div>
          </div>
        </div>
      </div>
    </div>