    <div class="dashboard-card">
      <div class="card-header">
        <h3>Resources by Region</h3>
        <span class="total-count">{{ regionDistribution.length }} regions</span>
      </div>
      
      <div class="distribution-list">
        <div *ngFor="let region of regionDistribution" 
             class="distribution-item">
          <div class="item-info">
            <span class="item-name">{{ region.region }}</span>
            <span class="item-count">{{ region.count }}</span>
          </div>
          <div class="progress-bar-container">
            <div class="progress-bar" 
                 [style.width.%]="region.percentage"
                 [attr.data-percentage]="region.percentage + '%'">
            </div>
          </div>
        </div>
      </div>
    </div>